.todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    > * {
        margin: 0.5rem;
    }

    input,
    textarea {
        height: 2rem;
        font-family: "Quicksand";
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #ccc;
        transition: 0.3s border-color;
        padding: 10px;
        &:hover,
        &:focus,
        &:active,
        &:focus-visible {
            border: 1px solid #aaa;
            outline: none;
        }
    }
}

@media (max-width: 980px) {
    .todo-form {
      flex-direction: column;
      justify-content: space-around;
      height: unset;
    }
}