@font-face {
  font-family: "Courgette";
  src: url("./asstets/fonts/Courgette-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("./asstets/fonts/Quicksand-Regular.ttf");
}

.App {
  font-family: "Quicksand";
  text-align: center;
  max-width: 800px;
  margin: auto;
  margin-bottom: 1rem;

  .title {
    font-family: "Courgette";
    text-transform: capitalize;
  }

  button {
    border: none;
    padding: 0.2rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #4d9a32;
    color: #fff;
    &:hover {
      opacity: 0.8;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
